body{
  background-color:#EEE8AA;

}
h1{
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-align:center; 
}

.center{
  text-align:center;
}

small{
  font-family: Arial, sans-serif;
  font-weight:bold;
}

img{
  width:800px;
  height:600px;
}
