<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>404</title>
    <style type="text/css" media="screen">
      h1 { font-family: 'Lobster', arial, serif; }
      b { text-decoration: line-through; font-size:20px}
    </style>
  </head>

  <body>
    <h1><center><b>Porn</b> Page not found</center></h1>
    <center><img src="/media/images/triforce.jpg" alt="404"/></center>
  </body>
</html>
