<html>
  <head>
    <title>True Story, Bro</title>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="all" charset="utf-8">
    <link rel="alternate" type="application/xml" title="Randmzr Feed" href="http://randmzr.com/rss" /> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
    <div id="image" class="center"></div>
    <div class="center"><small>Random images for flurry days :)</small></div>
    <div class="center"><button onclick="ajax();">For more random images, click here!</button></div>
  </body>
<script type="text/javascript" charset="utf-8">
  function ajax(){
    jQuery.ajax({
      url:"/board",
      error: function(){
        ajax();
      },
      success: function(html){
        var response = $(html)[0];
        if(response){
          jQuery('#image').html('<p>Source to image: <a href="'+ response.innerHTML + '">'+ response.innerHTML + '</a></p><img onclick="ajax();" src="/ajax/?url=' + response.innerHTML + '" />');
        }else{
          ajax();
        }
      }
    });
  }

  ajax();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-18105047-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
</script>
</html>

