<html>
  <head>
    <title>True Story, Bro</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/site_media/style.css" type="text/css" media="all" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  <body>
  </body>
<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    var html = '';
    jQuery.ajax({
      async: false,
      url:"/board",
      success: function(data){
        html = data;
      }
    });

    op = $(html)[2].innerHTML;
    var masterOP = ["Fuck Yea", "Do it Fag, do it right now", "Vat?", "/coolface on", "BR?BR?", "new fags can't triforce", "Phyton? Hubby?"]
    fisherYates(masterOP);
    var quote = $(html)[2].innerHTML.match("<a") || $(html)[2].innerHTML == "" ? masterOP[0] : $(html)[2].innerHTML;

    jQuery('body').append('<h1>' + quote + '</h1>') 
    jQuery('body').append('<div class="center"><img src="/ajax/?url=' + $(html)[0].innerHTML + '" /></div>');
    jQuery('body').append('<div class="center"><small>I dont own anything of those images and quotes, all right?</small></div>');

    //setTimeout(function(){ window.location.reload(false) }, 10000);
  });

  function fisherYates ( myArray ) {
    var i = myArray.length;
    if ( i == 0 ) return false;
    while ( --i ) {
       var j = Math.floor( Math.random() * ( i + 1 ) );
       var tempi = myArray[i];
       var tempj = myArray[j];
       myArray[i] = tempj;
       myArray[j] = tempi;
     }
  }


</script>

</html>

